@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.navbar {
   background-color: v.$sand;
 
  border-bottom: 1px solid v.$sand;
   font-family: v.$font-body;

  &__container {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    gap: 1rem;
  }

 &__logo {
    display: flex;
    align-items: center;
    

    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
      display: block;
    }
    

  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  &__link {
    position: relative;
    padding: 0.5rem;
     @include m.font-body;
    color: v.$coffee;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover {
      color: v.$espresso;
    }

    &::after {
      content: "";
      position: absolute;
      width: 0%;
      height: 2px;
      left: 0;
      bottom: -4px;
      background-color: v.$tan;
      transition: 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

//TABLET / DESKTOP
   

@include m.respond(tablet) {
  .navbar {
    padding: 1rem 2rem;

    &__container {
      flex-direction: row;
      justify-content: space-between;
    }

    &__links {
      flex-direction: row;
      gap: 2rem;
    }
  }
}
@include m.respond(desktop) {
  .navbar {
    padding: 0;

   &__container {
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  
}
&__logo {
  display: flex;
  align-items: center;
}

    &__links {
      display: flex;
      flex-direction: row;
      gap: 2.5rem;
    }

    &__link {
      font-size: 1rem;
    }

    &__logo img {
      width: 60px;
    }
  }
}