$off-white: #FCFCF7;
$natural-oak: #C5A682;
$obsidian-black: #222123;
$pebble-grey: #848481;
$sage-green: #163832;

/*Backgroundd:#051F20
$Background (Elevated / Card): #0B2B26
$Border / Secondary Button: #163832
$Accent (Subtle / Hover): #235347
$Primary Accent: #8EB69B
$Primary Text / High-Contrast CTA: #DAF1DE


jbjabbj


/* FONTS */
$font-heading: 'Playfair Display', serif;
$font-body: 'Inter', sans-serif;