@use "../abstracts/variables" as v;

body {
  background-color: v.$cream;
  color: v.$espresso;
  font-family: v.$font-body;
  line-height: 1.6;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

a {
  color: v.$coffee;
  text-decoration: none;
  transition: 0.3s ease;

  &:hover {
    color: v.$espresso;
  }
}